<div class="new-game-container">
  <h1>Обери свою колоду</h1>
  <div class="panels">
    <div (click)="selectDark()" class="panel">
      <img alt="dark side" class="img-side img-side__dark" src="./assets/new-game/dark-side.jpg">
      <h2 class="img-title">Тінь</h2>
    </div>
    <div class="gap"></div>
    <div (click)="selectLight()" class="panel">
      <img alt="light side" class="img-side img-side__left" src="./assets/new-game/light-side.jpg">
      <h2 class="img-title">Вільні народи</h2>
    </div>
  </div>
</div>
